*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

navbar{
    background-color: #c0b4b4;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

ul li a{
    text-decoration: none;
    color: #000;
}

ul li span{
    background-color: #000;
    color: #fff;
    margin-left: 5px;
    padding: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
