* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.box {
    width: 28%;
    height: 640px;
    margin: 1rem;
    border: 1px solid #ccc;
}

.box img {
    width: 100%;
    height: 70%;
}

.text-content {
    /* color: #fff; */
    padding: 1rem;
    width: 100%;
    height: 30%;
    box-shadow: 0 1px 2px 0px gray;


    background: #F7F8F8;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACBB78, #F7F8F8);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACBB78, #F7F8F8);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.anchor {
    text-decoration: none;
    color: #000;
    background-color: #f3c2ad;
    padding: .25rem 1rem;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}

.added {
    text-decoration: none;
    background-color: #8a7e79;
    color: #fff;
    padding: .25rem 1rem;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
}

.text-about {
    height: 70%;
}

.text-anchor {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    padding-bottom: 10px;
}

.text-about strong{
    font-size: 1.5rem;
}